## 종합 연습문제

In [4]:
import pandas as pd
import random

In [ ]:
# numpy.random.rand(n, m, ...)을 이용하여 다차원 무작위 배열을 생성할 수 있습니다.
# numpy.random.randn(n, m)을 이용하여 표준 정규 분포에서 무작위 배열을 생성할 수 있습니다.
# numpy.random.randint(low, high, (n, m), dtype=None)을 이용하여 low ~ high-1 사이의 무작위 (n, m) 크기정수 배열을 반환합니다.

In [ ]:
# 1. 랜덤으로 5개의정수를 만들어 시리즈로 생성하기

In [ ]:
# 2. 랜덤으로 5개의 실수를 만들어 시리즈로 생성하기

In [ ]:
# 3. 혈액형 통계 수치를 이용하여 인덱스를 가지는 시리즈 생성하기
# #결과값

# A형     34.2
# B형     27.1
# O형     26.7
# AB형    11.5
# dtype  float64

In [ ]:
# 4. 1 ~ 25숫자를 가지는 DataFrame만들기

In [ ]:
# 5. 아래와 같은 모습의 DataFrame만들기

#    나이  번호 이름   점수
# 0  15   1  a  100
# 1  16   2  b   90
# 2  15   3  c   80
# 3  14   4  d   70

In [ ]:
연습문제 6

In [5]:
# 6. 5명의 학생의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.
a=(15,1,"a",100)
b=(16,2,"b",90)
c=(15,3,"c",80)
d=(14,4,"d",70)
df = pd.DataFrame([a,b,c,d],columns=["나이","번호","이름","점수"])
df

   나이  번호 이름   점수
0  15   1  a  100
1  16   2  b   90
2  15   3  c   80
3  14   4  d   70

In [6]:
# 6-1.학생 이름을 나타내는 열을 포함시키지 않고 데이터프레임 df_score1 을 생성한 후, 
# df_score1.index 속성에 학생 이름을 나타내는 열을 지정하여 인덱스를 지정한다. 

# reset_index 명령으로 이 인덱스 열을 명령으로 일반 데이터열로 바꾸여 데이터프레임 df_score2을 만든다.

In [ ]:
6-2.학생 이름을 나타내는 열이 일반 데이터 열을 포함하는 데이터프레임 df_score2에 set_index 명령을 
적용하여 다시 학생 이름을 나타내는 열을 인덱스로 변경한다.

In [ ]:
# 연습 문제  7

In [ ]:
# 7. A 반 학생 5명과 B반 학생 5명의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.
# "반", "번호", "국어", "영어", "수학" 을 열로 가지는 데이터프레임 df_score3을 만든다.
# df3
# 번호	반	국어	영어	수학			
# ID0	A	24	21	90
# ID1	A	3	38	22
# ID2	A	56	96	66
# ID3	A	72	20	2
# ID4	A	0	44	63
# ID0	B	21	93	60
# ID1	B	19	39	1
# ID2	B	74	14	51
# ID3	B	41	26	90
# ID4	B	10	81	69

In [ ]:
# 7-1. df_score3을 변형하여 1차 행 인덱스로 "반"을 2차 행 인덱스로 "번호"을 가지는 데이터프레임 df_score4을 만든다.

In [ ]:
# 7-2 데이터 프레임 df_score4에 각 학생의 평균을 나타내는 행을 오른쪽에 추가한다.

In [ ]:
# 7-3 df_score3을 변형하여 행 인덱스로 "번호"를, 1차 열 인덱스로 "국어", "영어", "수학"을, 2차 열 인덱스로 "반"을 가지는 
# 데이터프레임 df_score5을 만든다.

In [ ]:
# 7-4 데이터 프레임 df_score5에 각 반별 각 과목의 평균을 나타내는 행을 아래에 추가한다.