# 판다스 기초

## 목차
## 판다스 설명

## 시리즈
- 시리즈 설명
- 시리즈 만들기
- 시리즈 인덱싱
- 시리즈와 딕셔너리

## 데이터 프레임
- 데이터 프레임 설명
- 데이트 프레임 만들기
- 연습문제2 (데이터 \프레임 만들기)
- 데이터 프레임 내용 변경 : 열추가, 삭제, 갱신
- 인덱싱
- 연습문제3

### pandas

- Series, DataFrame 등의 자료구조를 활용한 데이터 분석과 관련된 기능을 제공해 주는 라이브러리

### pandas 라이브러리 구성
- 여러종류의 기능을 구현한 클래스와 내장함수로 구성
- Series, DataFrame 이라는 구조 표현 클래스 객체
- 자주 사용되는 내장 함수 : Series(), DataFrame(), read_csv(), read_exel() 등

### Series vs DataFrame
- Series : 1차원 배열
- DataFrame : 2차원 배열

## 판다스 사용 목적
- 서로 다른 여러가지 유형의 데이터를 공통의 포맷으로 정리하는 것
- 데이터 프레임을 분석실무에서 자주 사용

### 사용하려면 import 해야함

### 시리즈
- 데이터가 순차적으로 나열된 1차원 배열의 형태로
- 인덱스(index)와 데이터 값(value)이 일대일로 대응
- 딕셔너리와 비슷한 구조 : {key:value}
    
### 시리즈의 인덱스
- 데이터 값의 위치를 나타내는 이름표(데이터주소) 역할
- 예로 'index2'라는 주소를 알고 있다면 'data2'라는 원소 데이터 값에 바로 접근가능


### 시리즈 민들기

In [1]:
# pandas 패키지 불러오기
import pandas as pd
import numpy as np

In [2]:
# 시리즈 만들기 : Series() 함수 사용
# 리스트, 딕셔너리, 튜플 형태의 데이터를 구성 후 Series()
# 1. 리스트 이용해서 시리즈 만들기
s = pd.Series([1,2,3])
s # 인덱스 : 0부터 시작하는 정수값으로 자동 지정

0    1
1    2
2    3
dtype: int64

In [6]:
# 결측값 포함해서 시리즈 만들기
# numpy 피키지의 nan 이라는 내부 변수는 결측값을 표현
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
# 숫자 인덱스 지정
# index = []
s = pd.Series([10,20,30], index=[1,2,3])
s

1    10
2    20
3    30
dtype: int64

In [8]:
# 문자 인덱스 지정
s = pd.Series([95,100,88], index=['홍길동','이몽룡','성춘향'])
s

홍길동     95
이몽룡    100
성춘향     88
dtype: int64

In [11]:
# 문자 인덱스 지정 2
[237849,23894023,238940,238904]
# 위 리스트를 이용해서 시리즈를 구성하고 인덱스는 서울, 부산, 인천, 대구로 설정하시오
s = pd.Series([237849,23894023,238940,238904], index=['서울','부산','인천','대구'])
s

서울      237849
부산    23894023
인천      238940
대구      238904
dtype: int64

In [12]:
# range() 함수로 시리즈 만들기
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [13]:
# 시리즈의 인덱스 확인 : Series 클래스 안에 index라는 변수가 만들어져 있음. 
# index 속성을 이용해서 관련 index 확인가능
# 시리즈 객체의 index 속성으로 객체명.index
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [14]:
# 시리즈의 값은 1차원 배열이고 values 속성으로 접근 할 수 있다.
s.values # array

array([  237849, 23894023,   238940,   238904], dtype=int64)

In [15]:
# name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있다.
s.name = '인구'
s

서울      237849
부산    23894023
인천      238940
대구      238904
Name: 인구, dtype: int64

In [16]:
# 시리즈 인덱스에도 이름을 붙일 수 있다.
# 객체.index.name
s.index.name = '도시'
s

도시
서울      237849
부산    23894023
인천      238940
대구      238904
Name: 인구, dtype: int64

### 시리즈 인덱싱
- 인덱싱(indexing) : 데이터에서 특정한 세부 데이터만 접근해서 값을 반환 받는 것
### 시리즈 인덱싱 종류
1. 정수형 위치 인덱스
2. 인덱스 이름 또는 인덱스 라벨 문자형 인덱스

- 인덱스를 별도로 정의하지 않으면 0부터 시작하는 디폴트 정수형 위치 인덱스가 자동 지정

### 원소 선택
- 인덱스를 이용 객체명[인덱스]

In [18]:
# 정수형 위치 인덱스를 사용한 인덱싱
s[0]

237849

In [21]:
# 라벨형 인덱스 설정한 경우 라벨을 이용해서도 접근 가능
s[3], s['대구']

(238904, 238904)

In [22]:
# 인덱싱을 값 하나가 아닌 여러 값으로 할 수 있음
# 리스트형 인덱싱을 하면 자료의 순서를 바꾸거나 특정한 자료만 선택할 수 있다.
s[[0,3,1]]

도시
서울      237849
대구      238904
부산    23894023
Name: 인구, dtype: int64

In [26]:
# 리스트형 인덱싱을 했을 때 반호나 결과의 타입확인 : 시리즈 구조
# 하나의 요소 익덱싱을 햇을 때 반환 결과의 타입 확인 : 접근한 value의 타입으로 반환
# type(s[0])
type(s[[0]])
s[[0]]

도시
서울    237849
Name: 인구, dtype: int64

In [25]:
# 인덱스 라벨을 사용하여 특정자료의 집합을 선택(순서변경)
s[['서울','대구','부산']]

도시
서울      237849
대구      238904
부산    23894023
Name: 인구, dtype: int64

In [27]:
# 슬라이싱을 이용한 인덱싱
# 정수형 위치인 인덱시를 사용한 슬라이싱
s[1:3] #[서울 부산 인천 대구] 2번째 3번째

도시
부산    23894023
인천      238940
Name: 인구, dtype: int64

In [28]:
# 인덱스 라벨을 사용한 슬라이싱
s['부산':'대구'] # 부산 ~ 대구까지 추출

도시
부산    23894023
인천      238940
대구      238904
Name: 인구, dtype: int64

In [32]:
#
s0 = pd.Series(range(3), index = ['apple','banana','pine'])
s0

apple     0
banana    1
pine      2
dtype: int64

In [34]:
# 라벨값이 영문 문자열인 경우 마치 속성인것처럼 사용할 수 있다. '.' 연산자를 사용하여 접근가능
s0.apple

0

### 시리즈와 딕셔너리 자료형
시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 라벨 값을 키(key)로 가지는 딕셔너리 자료형과 같다고 볼 수 있다.

따라서 딕셔너리 자료형에서 제공하는 in연산도 가능하고
item 메소드를 사용하면 for 루프를 통해 각 원소의 키(key)와 값(value)을 접근할 수도 있다.

In [36]:
'서울' in s

True

In [37]:
'대전' in s

False

In [40]:
s.items()
for k,v in s.items() :
    print('%s = %d' % (k,v))

서울 = 237849
부산 = 23894023
인천 = 238940
대구 = 238904

### 딕셔너리로 시리즈 만들기
- 딕셔너리와 시리즈의 구조가 비슷하기 때문에
- 딕셔너리를 시리즈로 변환하는 방법 많이 사용
- Series()로 만들고 딕셔너리를 함수의 인자로 전달

딕셔너리의 key는 시리즈의 인덱스에 대응되고
딕셔너리의 value는 시리즈의 데이터 값으로 변환

In [42]:
# 딕셔너리로 시리즈 만들기
scores = {'홍길동' : 95, '이몽룡':100, '성춘향':88}
s = pd.Series(scores)
s

홍길동     95
이몽룡    100
성춘향     88
dtype: int64

In [49]:
# 위쪽에서 생성된 도시의 리스트를 참고하여 딕셔너리로 구성하고
# 해당 딕셔너리를 시리즈 s2로 만드시오.
# 딕셔너리의 원소는 순서를 가지지 않으므로
# 만약 순서를 정하고 싶다면 인덱스를 리스트로 지정해야 한다.
s = pd.Series({"서울" : 237849, "부산" : 23894023, "인천" : 238940, "대구" : 238904})
s # 순서가 없는 시리즈

s2 = pd.Series({"서울" : 237849, "부산" : 23894023, "인천" : 238940, "대구" : 238904}, index=['부산', '서울', '인천', '대구'])
s2

부산    23894023
서울      237849
인천      238940
대구      238904
dtype: int64

In [50]:
s2[0]

23894023

### 시리즈 데이터 갱신, 추가, 삭제
- 딕셔너리 인덱싱을 이용하면 데이터를 갱신하거나 추가할 수 있다

In [51]:
# s2 시리즈의 부산 데이터 변경 
s2['부산'] = 1630000
s2

부산    1630000
서울     237849
인천     238940
대구     238904
dtype: int64

In [52]:
# 데이터 추가
s2['울산'] = 900000
s2

부산    1630000
서울     237849
인천     238940
대구     238904
울산     900000
dtype: int64

In [53]:
# 데이터 삭제 - del 명령사용
del s2['서울']
s2

부산    1630000
인천     238940
대구     238904
울산     900000
dtype: int64

### 연습문제
- 임의로 두개의 시리즈 객체를 만든다
- 첫번째 시리즈는 리스트를 이용
- 두번째 시리즈는 딕셔너리를 이용
- 두 객체 모두 문자열 인덱스를 가져야 하고, 두 시리즈에 공통적으로 포함하지 않는 라벨이 있어야 한다.

In [59]:
# # 리스트로 시리즈 만들기
# s1 = pd.Series([50,40,60], index=['전창도','이영희','전순호'])
# s1

# # 딕셔너리로 시리즈 만들기
# scores = {'홍길동' : 95, '이몽룡':100, '성춘향':88}
# s2 = pd.Series(scores)
# s2

홍길동     95
이몽룡    100
성춘향     88
dtype: int64

### 데이터프레임
- 2차원 행렬 데이터에 인덱스를 붙인 것
- 행과 열로 만들어지는 2차원 배열구조
- R의 데이터프레임에서 유래
- 데이터프레임의 열은 각각 시리즈 객체로 이루어져 있음
- DataFrame() 함수를 이용하여 데이터프레임 생성

In [62]:
# 리스트로 데이터 프레임 만들기
df = pd.DataFrame(['a','b','c']) # 열 1개인 df가 생성
df

   0
0  a
1  b
2  c

In [65]:
# 리스트로 데이터 프레임 만들기 2
df = pd.DataFrame([['a,','b','c'],['a','a','g'],['a','i','j']])
df
# df는 행이름 열이름이 반드시 있어야 하기 때문에 설정하지 않으면 자동 생성됨

    0  1  2
0  a,  b  c
1   a  a  g
2   a  i  j

In [69]:
# 열 인덱스와 행 인덱스를 직접 설정해서 df 생성 - dict를 사용
# dict key가 열 이름
# index = 매개변수는 행 이름
df = pd.DataFrame({'A':['a,','b','c'],
                   'B':['a','a','g'],
                   'C':['a','i','j']},
                 index=[0,1,2])
df

    A  B  C
0  a,  a  a
1   b  a  i
2   c  g  j